body {
  background-color: #242424;
}

#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  width: 100%;
}


table {
  table-layout: fixed;
  border-spacing: 8px;
}

table, td {
  border: 1px solid #333;
  text-align: center;
}

.week-no-cell {
  width: 80px;
}

tbody .week-no-cell:hover {
  border-color: #EEE;
  cursor: pointer;
}

.weekday-cell {
  border-color: #242;
}

.weekend-cell {
  border-color: #422;
}

.week-even .weekday-cell {
  border-width: 2px;
  border-color: #262;
}

.week-even .weekend-cell {
  border-width: 2px;
  border-color: #622;
}

tbody .weekend-cell:hover, tbody .weekday-cell:hover {
  border-color: #EEE;
  cursor: pointer;
}

.weekday-cell.other-parent-cell-1 {
  background: #676;
}

.weekend-cell.other-parent-cell-1 {
  background: #766;
}

.weekday-cell.other-parent-cell-0\.5 {
  background: linear-gradient(to bottom right, #676 50%, transparent 0%)
}

.weekend-cell.other-parent-cell-0\.5 {
  background: linear-gradient(to bottom right, #766 50%, transparent 0%)
}


.cp {

}

.cp-value {
  display: flex;
  flex-direction: column;
}

.cp-value input {
  text-align: center;
  width: 500px;
  padding: 8px;
  font-size: 12pt;
}

.cp-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}
